{% extends "JblStudioBundle::admin_layout.html.twig" %}

{% block title %}{{ parent() }} | Ajout d'un contact{% endblock %}

{% block body %}

<div class="sand-bg">

	<div class="container" id="content">
	
		<h1>Contact</h1>
		
		<div class="row">
			<div class="span8">
				<fieldset>
					<legend>Modification du contact</legend>
					
					<form action="{{ path('contact_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
					    
						<div class="clearfix">
						
							{{ form_label(edit_form.firstName, 'Prénom :') }}
						    <div class="input">
						    	{{ form_widget(edit_form.firstName,{ 'attr': {'class': 'xlarge', 'size':'30'} }) }}
							</div>
						</div>
						
						<div class="clearfix">
						
							{{ form_label(edit_form.lastName, 'Nom :') }}
						    <div class="input">
						    	{{ form_widget(edit_form.lastName,{ 'attr': {'class': 'xlarge', 'size':'30'} }) }}
							</div>
						</div>
						
						<div class="clearfix">
						
							{{ form_label(edit_form.address, 'Adresse :') }}
						    <div class="input">
						    	{{ form_widget(edit_form.address,{ 'attr': {'class': 'xlarge', 'rows':'3'} }) }}
							</div>
						</div>
			
						<div class="clearfix">
						
							{{ form_label(edit_form.phone, 'Téléphone :') }}
						    <div class="input">
						    	{{ form_widget(edit_form.phone,{ 'attr': {'class': 'xlarge', 'size':'30'} }) }}
							</div>
						</div>					
		
						<div class="clearfix">
						
							{{ form_label(edit_form.info, 'Informations :') }}
						    <div class="input">
						    	{{ form_widget(edit_form.info,{ 'attr': {'class': 'xlarge', 'rows':'3'} }) }}
							</div>
						</div>
						
						{{ form_widget(edit_form) }}
					
					    <div class="actions">
					        <button class="btn success" type="submit">Modifier</button>
					        <a class="btn" href="{{ path('contact') }}">
					            Annuler
					        </a>
					    </div>
				    
					</form>
				
				</fieldset>
			</div>
			<div class="span8">
				<fieldset>
					<legend>Suppression du contact</legend>
					
					<span class="label important">Important</span> Attention, cette suppression est définitive !
					
			        <form action="{{ path('contact_delete', { 'id': entity.id }) }}" method="post">
			            {{ form_widget(delete_form) }}
			            <div class="actions">
			            	<button class="btn danger" type="submit">Suppression</button>
			            </div>
			        </form>
				</fieldset>
			</div>
		</div>
	</div>
</div>
{% endblock %}