{% extends "JblStudioBundle::admin_layout.html.twig" %}

{% block title %}{{ parent() }} | Semaines{% endblock %}

{% block body %}

<div class="sand-bg">

	<div class="container" id="content">
			
		<h1>Semaines</h1>
		
		<table class="records_list">
		    <thead>
		        <tr>
		            <th>Id</th>
		            <th>Start</th>
		            <th>End</th>
		            <th>Isfree</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for entity in entities %}
		        <tr>
		            <td><a href="{{ path('week_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
		            <td>{% if entity.start %}{{ entity.start|date('Y-m-d H:i:s') }}{% endif%}</td>
		            <td>{% if entity.end %}{{ entity.end|date('Y-m-d H:i:s') }}{% endif%}</td>
		            <td>{{ entity.isFree }}</td>
		            <td>
		                <ul>
		                    <li>
		                        <a href="{{ path('week_show', { 'id': entity.id }) }}">show</a>
		                    </li>
		                    <li>
		                        <a href="{{ path('week_edit', { 'id': entity.id }) }}">edit</a>
		                    </li>
		                </ul>
		            </td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
		
		<ul>
		    <li>
		        <a href="{{ path('week_new') }}">
		            Create a new entry
		        </a>
		    </li>
		</ul>
	</div>
</div>
{% endblock %}